<main class="main">
  <div class="inner">

   <% if user_signed_in? %>
       <div class="greeting"> 
        <%= link_to "Hello!#{current_user.name},It's up to you.", "/users/#{current_user.id}", class: :greeting__link%>
       </div> 
       <%end%>
    <div class="card__wrapper">
      <%= render partial: 'diary', collection: @diaries %>
    </div>
  </div>
</main>
