<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">New Diary</h2>
         <%= render partial: "form", locals: { diary: @diary } %>
    </div>
  </div>
</div>